@{
    String divId = "roundsform";
    object htmlAttr = new { onchange = "$(this.form).submit()" };
}
<div id="@ViewBag.DivID">
@using (Ajax.BeginForm("GetRounds", new { id = ViewBag.Id, divId = divId, style = ViewBag.SelectedStyle },
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = divId,
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "ajax-loadg"
    }))
{
    <fieldset>
        <img src="~/Images/orderedList0.png" alt="Загрузка..." style="display:none" id="ajax-loadg" />
        <div class="editor-label">
            <label for="reg_select">Группа:</label> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("groupId", (SelectList)ViewBag.Groups, htmlAttr)
        </div>
    </fieldset>
}
@if (ViewBag.SelectedGroup != null)
{
    @Html.Action("GetRounds", new { id = ViewBag.Id, divId = divId, style = ViewBag.SelectedStyle, groupId = ViewBag.SelectedGroup })
}
else
{
    <div id="@divId" />
}
</div>