@model CompetitionModel
@{
    ViewBag.Title = "Index";
    String divId = "groupsform";
    object htmlAttr = new { onchange = "$(this.form).submit()" };
}

<h2>Index</h2>

@using (Ajax.BeginForm("GetGroups", new { id = Model.Iid, divId = divId },
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = divId,
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "ajax-load"
    }))
{
    <fieldset>
        <img src="~/Images/orderedList0.png" alt="Загрузка..." style="display:none" id="ajax-load" />
        <div class="editor-label">
            <label for="reg_select">Вид:</label> 
        </div>
        <div class="editor-field">
            @Html.DropDownList("style", (SelectList)ViewBag.Styles, htmlAttr)
        </div>
    </fieldset>
}
@if (ViewBag.SelectedStyle != null)
{
    @Html.Action("GetGroups", new { id = Model.Iid, divId = divId, style = ViewBag.SelectedStyle })
}
else
{
    <div id="@divId" />
}
