<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--
    <add key="email_from" value="noreply@climbing-competition.org"/>
    -->
    <add key="email_from" value="climbing.applications@mail.ru"/>
    <add key="Deadline" value="22/02/2011"/>
    <add key="DeadLineMode" value="22/02/2011"/>
    <add key="GroupQuote" value="50000"/>
    <add key="AllowViolation" value="False"/>
    <add key="TimeDiff" value="3"/>
    <add key="Styles" value="LS"/>
    <add key="RankingLimit" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="packet size=4096;user id=ikaurov_sa;data source=db203.my-hosting-panel.com;persist security info=True;initial catalog=ikaurov_climbing;password=veneChU0" providerName="System.Data.SqlClient"/>
    <add name="db_Entities" connectionString="metadata=res://*/ClimbingEntityModel.csdl|res://*/ClimbingEntityModel.ssdl|res://*/ClimbingEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;packet size=4096;user id=ikaurov_sa;data source=db203.my-hosting-panel.com;persist security info=True;initial catalog=ikaurov_climbing;password=veneChU0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="db2" connectionString="Data Source=(local);Initial Catalog=testdb_web;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="db_Entities2" connectionString="metadata=res://*/ClimbingEntityModel.csdl|res://*/ClimbingEntityModel.ssdl|res://*/ClimbingEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=testdb_web;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="15000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="~/ClimbersList.aspx" slidingExpiration="true" timeout="99" name=".ASPCLMCOOK" ticketCompatibilityMode="Framework40"/>
    </authentication>
    <membership defaultProvider="ClmMembershipProvider">
      <providers>
        <clear/>
        <add name="ClmMembershipProvider" type="WebClimbing.src.ClmMembershipProvider" connectionStringName="db" applicationName="/"/>
      </providers>
    </membership>
    <!--
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    -->
    <roleManager defaultProvider="ClmRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPCLMROLES" cookieTimeout="99" cookieSlidingExpiration="true">
      <providers>
        <clear/>
        <add name="ClmRoleProvider" type="WebClimbing.src.ClmRoleProvider" connectionStringName="db" applicationName="/"/>
      </providers>
    </roleManager>
    <customErrors mode="On" defaultRedirect="~/error_occured.aspx">
      <error statusCode="403" redirect="~/no_access.aspx"/>
      <error statusCode="404" redirect="~/not_found.aspx"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="ClimbingCompetition" deliveryMethod="Network">
        <!--
        <network defaultCredentials="false" host="mail.climbing-competition.org" userName="noreply@climbing-competition.org" password="climbing1"/>
        -->
        <network defaultCredentials="false" host="smtp.mail.ru" userName="climbing.applications@mail.ru" password="climbing1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebClimbing.AJAXServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="WebClimbing.AJAXService">
        <endpoint address="" behaviorConfiguration="WebClimbing.AJAXServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebClimbing.AJAXService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>