@using WebClimbing.Models
@model IEnumerable<CompetitionModel>
@{
    ViewBag.Title = "Календарь " + ViewBag.Year.ToString();
    ClimbingContext db = new ClimbingContext();
    object htmlAttr = new { onchange = "$(this.form).submit()" };
    String divId = "calendar";
}

<h2>Календарь на @ViewBag.Year год</h2>

@using (Ajax.BeginForm("Calendar", "Home", new { divId = divId }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "ajaxloader",
    UpdateTargetId = divId,
    HttpMethod = "GET"
}))
{
    <img src="~/Images/orderedList0.png" alt="Загрузка..." style="display:none" id="ajaxloader" />
    <p>Календарь: @Html.DropDownList("comp_region", (SelectList)ViewBag.Regions, "Россия", htmlAttr)</p>
    <p>Год: @Html.DropDownList("comp_year", (SelectList)ViewBag.Years, null, htmlAttr)</p>
}

@Html.Action("Calendar", new { comp_year = ViewBag.Year, comp_region = ViewBag.Region, divId = divId })
