@{
    CompetitionModel comp = ViewBag.Comp;
    ViewBag.Title = "Рассылка сообщений для " + comp.ShortName;
    String divId = "maillist";
}

<h2>@ViewBag.Title</h2>
@using (Ajax.BeginForm("MailList",
    new
    {
        id = comp.Iid,
        divId = divId
    },
    new AjaxOptions
    {
        Confirm = "Подтведить отправку сообщений?",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "ajaxloader",
        UpdateTargetId = divId,
        OnFailure = "alert('Ошибка отправки')"
    }))
{
    <div id="ajaxloader" style="display:none">
        Идет отправка сообщений
    </div>
    @Html.Action("MailList", new { id = comp.Iid, divId = divId })
    <input type="submit" value="Отправить сообщения" />
}