<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClimbingCompetition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ClimbingCompetition.appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClimbingCompetition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClimbingCompetition.Properties.Settings>
            <setting name="OneMinute" serializeAs="String">
                <value/>
            </setting>
            <setting name="GetReady" serializeAs="String">
                <value/>
            </setting>
            <setting name="Rotate" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="OrderFolder" serializeAs="String">
                <value/>
            </setting>
        </ClimbingCompetition.Properties.Settings>
        <ClimbingCompetition.appSettings>
            <setting name="SysR1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SysR2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTport" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="SysPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value/>
            </setting>
            <setting name="User" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="OnlineString" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseOwnDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BadgeLeft" serializeAs="String">
                <value/>
            </setting>
            <setting name="BadgeRight" serializeAs="String">
                <value/>
            </setting>
            <setting name="cmbBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbStopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbDataBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmdHandShake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbShowInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCloseTimer" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IntlSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UseWinAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IvanovoSystemIP" serializeAs="String">
                <value>192.168.0.100</value>
            </setting>
            <setting name="IvanovoSystemPort" serializeAs="String">
                <value>9760</value>
            </setting>
        </ClimbingCompetition.appSettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <ClimbingCompetition.Properties.Settings>
            <setting name="UserForms_WebServices_ClimbingWebService" serializeAs="String">
                <value>http://localhost:1191/ClimbingWebService.asmx</value>
            </setting>
        </ClimbingCompetition.Properties.Settings>
    </applicationSettings>
</configuration>
