<text>
    @if(Request.IsAuthenticated)
    {
        @:@string.Format("Здравствуйте, {0}!", User.Identity.Name)
    }
    <ul>
        @if(Request.IsAuthenticated)
        {
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
                }
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Вход", "Login", "Account")
            </li>
        }
    </ul>
</text>
