@model CompetitionModel
@{
    ViewBag.Title = String.Format("Ключ для {0}", Model.Name);
}

<h2>@ViewBag.Title</h2>
@if(ViewBag.HasKey)
{
   <p>
   Для данных соревнований уже создан ключ ЭЦП. После создания нового ключа старый будет недействителен
   </p>
}
<table width="100%">
    <tr>
        <td>
            @Html.ActionLink("Скачать ключ", "GetNewKey", new { id = Model.Iid })
        </td>
        <td>
            @Html.ActionLink("Назад", "Edit", new { id = Model.Iid })
        </td>
    </tr>
</table>

